@import "../../../_theme/theme";
.booking__logo{
    &:hover{
        background-color: rgba(0,0,0,0.04)
    }
}

.booking__cumrap{
    padding: 10px 0;
    &:hover{
        background-color: rgba(0,0,0,0.04)
    }
}
.booking__film{
    &:hover{
        background-color: rgba(0,0,0,0.04)
        
    }
}
.booking__giochieu{
    @include text($c-dark, $fs-xs, $fw-bold);
    &:hover{
        color: $c-hover
    }
}
